<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091224521228-ea9lg9j78pfmop8cn5t4muct74i767ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091224521228-ea9lg9j78pfmop8cn5t4muct74i767ue</string>
	<key>API_KEY</key>
	<string>AIzaSyDCL8ugJbefqUSD-5Mbfzxqsc4k0Wox5hw</string>
	<key>GCM_SENDER_ID</key>
	<string>1091224521228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>hidden-8849a</string>
	<key>STORAGE_BUCKET</key>
	<string>hidden-8849a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091224521228:ios:1ebf7b269977f6e01a7c29</string>
</dict>
</plist>