<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589652997216-8nf4rlavgabt430dqbooqh0d1td7uo4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589652997216-8nf4rlavgabt430dqbooqh0d1td7uo4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBgqm1MOkb9UxamOczt0G1ZES05aEVrP8k</string>
	<key>GCM_SENDER_ID</key>
	<string>589652997216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>cp-rideshare</string>
	<key>STORAGE_BUCKET</key>
	<string>cp-rideshare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589652997216:ios:8656cdad893c3c325aff05</string>
	<key>DATABASE_URL</key>
	<string>https://cp-rideshare-default-rtdb.firebaseio.com</string>
</dict>
</plist>